.container {
  max-width: 80%;
  padding-top: 20px;
  padding-bottom: 25px;
  border-radius: 32px;
  background-color: #414554;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.selectionBoxContainer {
  width: 96%;
  max-height: 500px;
  box-sizing: border-box;
  overflow: auto;
}
.selectionBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap:0.4em 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.selectionChamp {
  background: none;
  width: 75px;
  height: 75px;
  padding: 0em;
  border: none;
}
.champImg {
  max-width: 75px;
  max-height: 75px;
}