body {
  background-color: #343644;
}

input::placeholder{
  text-align: center;
}

.borderNone {
  border: none;
  background-color: #ffffff;
}

.searchButton {
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
}