.championSearchContainer {
    width: 20vw;
    padding: 6px;
    margin-bottom: 2vh;
    border-radius: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}
.borderNone {
    border: none;
    background-color: #ffffff;
}
.searchButton {
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}